services:
  vpn-test:
    extends:
      file: docker-compose.base.yml
      service: vpn-template
    container_name: vpn-test
    hostname: vpn-test
    networks:
      vpn-test: {}
      docker-ovpn-vlan:
        ipv4_address: 192.168.0.128
    volumes:
      - ./configs/test:/vpn:ro,z
      - ./shared:/shared:ro,z
      - ./logs:/logs:z
    environment:
      - CREDENTIALS=false

networks:
  vpn-test:
    driver: bridge
  docker-ovpn-vlan:
    external: true
