services:
  vpn1:
    extends:
      file: docker-compose.base.yml
      service: vpn-template
    container_name: vpn1
    hostname: vpn1
    networks:
      - vpn1-net
    volumes:
      - ./configs/vpn1:/vpn:ro,z
      - ./shared:/shared:ro,z
      - ./logs:/logs:z
    dns:
      - 8.8.8.8
    environment:
      - CREDENTIALS=true

  vpn2:
    extends:
      file: docker-compose.base.yml
      service: vpn-template
    container_name: vpn2
    hostname: vpn2
    networks:
      - vpn2-net
    volumes:
      - ./configs/vpn2:/vpn:ro,z
      - ./shared:/shared:ro,z
      - ./logs:/logs:z
    dns:
      - 8.8.8.8
    environment:
      - CREDENTIALS=true

  vpn3:
    extends:
      file: docker-compose.base.yml
      service: vpn-template
    container_name: vpn3
    hostname: vpn3
    networks:
      - vpn3-net
    volumes:
      - ./configs/vpn3:/vpn:ro,z
      - ./shared:/shared:ro,z
      - ./logs:/logs:z
    dns:
      - 8.8.8.8
    environment:
      - CREDENTIALS=true

  gost:
    build:
      context: .
      dockerfile: Dockerfile
      target: gost
    image: gost-proxy:latest
    container_name: gost-proxy
    hostname: gost-proxy
    restart: unless-stopped
    depends_on:
      - vpn1
      - vpn2
      - vpn3
    cap_add:
      - NET_ADMIN
    networks:
      - vpn1-net
      - vpn2-net
      - vpn3-net
    ports:
      - "1080-1100:1080-1100"
      - "18080:18080"
    environment:
      - TZ=Asia/Tehran
      - WEBAPI_PORT=18080
      - WEBAPI_USER=admin
      - WEBAPI_PASS=gost
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    ulimits:
      nofile:
        soft: 65536
        hard: 65536

networks:
  vpn1-net:
    driver: bridge
  vpn2-net:
    driver: bridge
  vpn3-net:
    driver: bridge
