services:
  vpn-template:
    build:
      context: ${PWD}
      dockerfile: Dockerfile
      target: vpn
    image: vpn-client:latest
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
    dns:
      - 8.8.8.8
    environment:
      - TZ=Asia/Tehran
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
